extends ../layout.jade
block content
  h2 #{title}
  - if(user)
    a.button(href="spaces/new") List a space

  ul#spaces
    - for (var i = 0; i < spaces.length; i++)
      li
        h4 
          | #{spaces[i].name}
          -if(user)
            form(action='/requests', method='post', class="inline")
              input(type='hidden' name='userId' value='#{user.id}')
              input(type='hidden' name='spaceId' value='#{spaces[i].id}')
              input(type='submit', value='Request this space' class='request')
        ul
          li
            | Price: £
            span.price #{spaces[i].price}
          li
            | Description:
            span.description #{spaces[i].description}
          li
            | Availability:
            span.availablefrom #{spaces[i].availablefrom}
            | -
            span.availableto #{spaces[i].availableto}
